Makefile
Makefile.in
aclocal.m4
autom4te.cache
rice/config.hpp
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
missing
pkg
*.o
*.so
*.log
.deps
*~
.*.swp
doc
*.dSYM
*.bundle
