Gemfile.lock

# Build artifacts
*.bundle
*.def
*.exe
*.exp
*.ilk
*.in
*.lib
*.o
*.obj
*.pdb
pkg
*.so

*.log
.*.swp
doc/_build
mkinstalldirs
out
sample/**/Makefile
test/**/Makefile
README.doxygen

# Various IDE folders
.idea
.vs
msvc
.vscode
.cmake
cmake-build-mingw
