name: Rice CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-2025]
        ruby: ['3.2', '3.3', '3.4', '4.0']
        include:
          - os: ubuntu-22.04
            ruby: '3.2'
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Configure
      run: rake headers
    - name: Build and test
      run: rake test
    - name: Mkmf.log
      uses: actions/upload-artifact@v6
      if: always()
      with:
        name: mkmf-${{ matrix.os }}-${{ matrix.version }}-${{ matrix.ruby }}
        path: test/mkmf.log